{% extends "layout.html" %}
{% block content %}
<div>
    <h1>Simple Savings Plan Calculator</h1>
    <form action="">
        <table>
            <tr>
                <th>Asset Class</th>
                <th>Asset Allocation Currently in EUR</th>
                <th>Asset Allocation %</th>
                <th>Future Allocation</th>
                <th>Future Savings Rate</th>
            </tr>
            <tr>
                <th>Stocks</th>
            <tr>
                <th>Bonds</th>
            </tr>
            <tr>
                <th>ETFs</th>
            </tr>
            <tr>
                <th>Crypto-Assets</th>
            </tr>
            <tr>
                <th>Commodities</th>
            </tr>
        </table>
    </form>
</div>
{% endblock content %}